<mat-card class="param-panel-card">
  <mat-card-header>
    <mat-card-title>超参数面板</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="algorithm" class="param-list">
      <div *ngFor="let param of algorithm.parameters" class="param-item">
        <div class="param-label">
          {{ param.displayName }}
          <mat-icon *ngIf="param.min !== undefined && param.max !== undefined"
                    class="info-icon"
                    [matTooltip]="param.min + ' ~ ' + param.max">
            info
          </mat-icon>
        </div>

        <div *ngIf="param.type === 'number'" class="param-input">
          <mat-slider
            [min]="param.min || 0"
            [max]="param.max || 100"
            [step]="getSliderStep(param)">
            <input
              matSliderThumb
              [value]="parameterValues[param.name]"
              (valueChange)="onSliderChange(param.name, $event)">
          </mat-slider>

          <span class="param-value">
            {{ formatValue(param, parameterValues[param.name]) }}
          </span>
        </div>

        <mat-select *ngIf="param.type === 'select'"
                    [value]="parameterValues[param.name]"
                    (selectionChange)="onSelectChange(param.name, $event.value)"
                    panelClass="param-select-panel"
                    disableOptionCentering>
          <mat-option *ngFor="let opt of param.options" [value]="opt">
            {{ opt }}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <div *ngIf="!algorithm" class="empty-message">
      请先选择算法以解锁参数调整。
    </div>
  </mat-card-content>
</mat-card>
